body {
	background-color: rgb(25,25,25);
	background-image: url("https://cdn-images-1.medium.com/gradv/29/81/55/1*qUF3hZQFAFtqyYO1pRS0Tw.png");
	background-size: cover;
	background-repeat:no-repeat;
	max-width: 600px;
	margin: 0 auto;
}

h1 {
	font-family: Helvetica, arial, sans-serif;
	color: #fff;
	margin: 30px 0 5px 0;
}
h2 {
	font-family: Helvetica, arial, sans-serif;
	color: #bbb;
	margin: 0 0 20px 0;
}
h3 {
	color: #fff;
	font-style: italic;
	text-align: center;
}
img {
	border-radius: 20px
}