.container {
	width: 720px;
	padding: 54px;
	border-left: solid 6px #ddd;
	color: #444;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	line-height: 1.5;
}

h1 {
	color: red;
	font-weight: 300;
	font-size: 4em;
	margin: 0;
	padding: 0;
	float: left;
}

h2 {
	color: black;
	font-weight: 300;
	font-size: 2em;
	margin: 35px 0 0 15px;
	padding: 0;
	float: left;
}

h3 {
	color: black;
	margin: -5px 0 5px 0;
	padding: 0;
	font-size: 2em;
	font-weight: 300;
}

a {
	color: #DD0000;
}

a:hover {
	color: #AA0000;
}

.top_nav a {
	color: #ddd;
	background: black;
	padding: 10px 20px;
	border-right: 1px solid white;
	text-decoration: none;
}

nav a:hover {
	color: red;
}

img {
	max-width: 100%;
}

ul {
	padding: 0;
	margin-top: 5px;
}

li {
	display: inline-block;
	
	font-size: 1.2em;
}

main {
	margin-top: 40px;
	width: 500px;
	float: left;
}

article p::first-letter { 
    font-size: 500%;
    color: #ddd;
    float: left;
    margin: -25px 5px;
}

.date {
	color: #ccc;
	font-size: 1.8em;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

.copyright {
    color: #bbbbbb;
}

.next {
	display: block;
	text-align: right;
	color: red;
	font-weight: 700; 
	border-bottom: 1px solid #ccc;
	padding: 20px 0;
	margin-bottom: 30px;
}

aside {
	width: 200px;
	margin: 20px 0 0 20px;
	float: right;
}

aside p {
	font-size: medium;
	line-height: 1.5em;
}

footer a {
	color: red;
	text-decoration: none;
	font-size: .8em;
}

footer li {
	margin: 0;
	padding: 0 5px;
}

footer li+li { 
	border-left: 1px solid #ccc; 
}

.clear {
	clear: both;
}