.container {
	width: 720px;
	padding: 54px;
	border-left: solid 6px #ddd;
	color: #444;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	line-height: 1.5;
}

h1 {
	color: red;
	font-weight: 300;
	font-size: 4em;
	margin: 0;
	padding: 0;
}

h2 {
	color: black;
	font-weight: 300;
	font-size: 2em;
	margin: -10px 0 0 0;
	padding: 0;
}

h3 {
	color: black;
	margin: -5px 0 5px 0;
	padding: 0;
	font-size: 2em;
	font-weight: 300;
}

a {
	color: #DD0000;
}

a:hover {
	color: #AA0000;
}

nav a {
	color: #ddd;
}

nav a:hover {
	color: black;
}

img {
	max-width: 100%;
}

ul {
	padding: 0;
	margin-top: 5px;
}

li {
	display: inline-block;
	margin-right: 15px;
	font-size: 1.2em;
}

main {
	margin-top: 40px;
}

.date {
	color: #ccc;
	font-size: 1.8em;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

.copyright {
    color: #bbbbbb;
}

.next {
	display: block;
	text-align: right;
	color: red;
	font-weight: 700; 
	border-bottom: 1px solid #ccc;
	padding: 20px 0;
	margin-bottom: 30px;
}

footer a {
	color: red;
	text-decoration: none;
	font-size: .8em;
}

footer li {
	margin: 0;
	padding: 0 5px;
}

footer li+li { 
	border-left: 1px solid #ccc 
}
